@import '../../../../sass/_common.scss';

/* Adaugă aceste stiluri în fișierul CSS al lui LoadingSpinner */
.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  /* pentru a se asigura că este deasupra altor elemente */
}