/*pentru mobil*/
.sidebarContainer {
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.25),
    inset 0 -3px 2px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(276deg, #2e1746 3.19%, #2e225f 100%);
  border-right: 1px solid #ccc;
  padding: 20px;
  height: 100vh;
  padding: 0px;
}
.sidebarContainer ul {
  list-style: none;
  margin: 0px 0px 28px 0px;
}
.navHome {
  display: flex;
  align-items: center;
  margin: 40px 0px 10px 0px;
}
.navHome a {
  display: flex;
  align-items: center;
}
.navHome p {
  font-family: var(--font-family);
  font-weight: currentweight;
  font-size: 18px;
  color: var(--white);
  margin: 0;
}
.navHome svg {
  /* fill: var(--icon-violet); */
  fill: currentcolor;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
/* .navlinkInaktive {
  fill: var(--color-inactive, #fff);
  transition: fill 0.3s ease;
}
.navLinkActive svg path {
  fill: var(--color-active, #734aef);
} */
.navLinkInaktive {
  color: #ffffffa1;
  font-weight: 400;
}

.navLinkActive {
  font-weight: 700;
}
.navLinkActive svg {
  color: #734aef;
  background-color: #fff;
  border-radius: 6px;
}
.navStatistics {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.navStatistics a {
  display: flex;
  align-items: center;
}
.navStatistics p {
  font-family: var(--font-family);
  font-weight: currentweight;
  font-size: 18px;
  color: var(--white);
  margin: 0;
}
.navStatistics svg {
  /* fill: var(--white-40); */
  fill: currentcolor;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

/*Stiluri pentru tableta*/
@media screen and (min-width: 768px) {
  .navHome {
    display: flex;
    height: 27px;
    align-items: center;
  }
  .navStatistics {
    display: flex;
    height: 27px;
    align-items: center;
  }
}

/* Stiluri pentru desktop */
@media screen and (min-width: 1280px) {
  .sidebarContainer {
    width: 480px;
  }
}
