@import '../../../sass/_common.scss';

.transactionCard {
  transition: background-color 0.3s ease;
}
.transactionCard:hover {
  background-color: #f0f0f0;
}

td {
  padding: 10px;
}

.deleteButton {
  background: linear-gradient(to bottom, #ffc727 0%, #9e40ba 61%, #7000ff 91%);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deleteButton:hover {
  background-color: #e5d3ff;
}
