@import '../../../sass/_common.scss';

.transactionsContainer {
  width: 100%;
  border-collapse: collapse;
}

.transactionsContainer thead {
  background-color: #523b7e;
  color: white;
}
.transactionsContainer th,
.transactionsContainer td {
  padding: 10px;
  text-align: left;
}

.transactionsContainer tr:hover {
  background-color: #f5f5f5;
}

.noTransactions {
  text-align: center;
  color: gray;
  font-style: italic;
}
