@import '../../../sass/_common.scss';

.transactionCard {
  transition: background-color 0.3s ease;
  border-top: 1px solid var(--white-40);
}
.transactionCard:hover {
  background-color: var(--white-60);
}

td {
  padding: 10px;
  color: var(--white);
}

.sumCell{
  color: var(--yellow);
  font-weight:bold;
}

.deleteButton {
  background: linear-gradient(to bottom, var(--yellow) 0%, #9e40ba 61%, #7000ff 91%);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deleteButton:hover {
  background:var(--yellow);
}
