.homePage {
  padding: 16px;
  background: linear-gradient(to bottom, #4B1E7C 19%, #302E8E 100%);
}


/*

.table {
  width: 100%;
  border-collapse: collapse;
}


.table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.table th {
  padding: 12px;
  background-color: #523b7e;
  color: white;
  text-align: left;
  border-radius: 5px;
}

.table td {
  color: #333;
}

/*.addButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: linear-gradient(to bottom, #FFC727 0%, #9E40BA 61%, #7000FF 91%);

  color: white;
  border: none;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
}

.addButton:hover {
  background-color: #FFC727;
}
*/