@import '../../../../sass/_common.scss';

.addButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
background: linear-gradient(135deg, #FFC727 0%, #9E40BA 61%, #7000FF 91%);
  color: var(--white);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.addButton:hover {
  background:var(--yellow);
}
